@font-face {
  font-family: poppins-regular;
  src: url(../fonts/poppins/Poppins-Regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #d5ebe4;
  font-family: poppins-regular;
}

ol {
  list-style-type: lower-alpha;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

header {
  background: #61cfff2e;
}

header a {
  color: #050517;
  font-weight: 700;
}

header a:hover {
  color: #111;
  font-weight: 700;
  text-shadow: 1px 1px 1px #111;
  text-decoration: underline;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

header .active {
  color: #111;
  font-weight: 900 !important;
  font-size: 1.1rem;
  text-decoration: initial !important;
  text-shadow: 1px 1px 1px #111;
}

header .menu__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 15vw;
}

header .menu__nav li {
  padding-right: 7rem;
  width: 10%;
}

.hero {
  background-color: #d5ebe4;
  background-size: cover;
  color: #050517;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem auto 8rem;
      grid-template-columns: 10rem auto 8rem;
  padding: 9rem 0;
  padding-top: 7rem;
}

.hero__headings {
  -ms-grid-column: 2;
  grid-column: 2;
}

.hero__headings .hero__lg-heading {
  padding: 0.4rem 0;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.hero__headings .hero__sm-heading {
  padding: 0.5rem 0;
  font-size: 1.9rem;
  font-weight: 600;
}

.hero__description {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.hero__description .hero__intro {
  padding: 2rem 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.hero__description .hero__contact-cta {
  background: #ffcf00;
  color: #050517;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.hero__description .hero__contact-cta:hover {
  background: #050517;
  color: #5eb0ff;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.work {
  background: #050517;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem auto 10rem;
      grid-template-columns: 10rem auto 10rem;
}

.projects__container {
  background: #72bda3;
  padding: 5rem 0;
}

.projects__container .work__heading {
  color: #050517;
  font-size: 2rem;
  -ms-grid-column: 2;
  grid-column: 2;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5rem;
}

.projects__container .projects {
  display: -ms-grid;
  display: grid;
  grid-gap: 5rem;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0 5rem;
}

.projects__container .projects .projects__item {
  background: #c2c2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.projects__container .projects .projects__item a {
  background: #050517;
  border-bottom: 1px solid #72bda3;
  color: #72bda3;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  width: 100%;
}

.projects__container .projects .projects__item .projects__project {
  border-left: 1px solid #050517;
}

.projects__container .projects .projects__item .projects__project:hover {
  background: #72bda3;
  color: #050517;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.projects__container .projects .projects__item .projects__github {
  border-bottom: 1px solid #050517;
  border-left: 1px solid #050517;
}

.projects__container .projects .projects__item .projects__github:hover {
  background: #72bda3;
  color: #050517;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.projects__container .projects .projects__item .projects__link img {
  display: block;
  height: auto;
  width: 100%;
}

.projects__container .projects .projects__item .projects__link:hover {
  background: black;
}

.about {
  background: #050517;
  color: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20vw auto 15vw;
      grid-template-columns: 20vw auto 15vw;
  padding: 5rem 0;
  text-align: right;
}

.about__heading {
  border-bottom: 1.5px solid #306653;
  border-left: none;
  border-right: none;
  border-top: 1px solid #306653;
  color: #72bda3;
  font-size: 2.5rem;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: right;
  text-transform: uppercase;
}

.about__bio {
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 3rem 0;
  padding-bottom: 0;
}

.about__bio .about__para {
  color: #72bda3;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  line-height: 1.8rem;
  padding-bottom: 1rem;
}

.about__bio .about__para a {
  color: #80abd8;
  font-size: 1.15rem;
  font-weight: 700;
}

.about__bio .about__para a:hover {
  color: #f49e4c;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.skills__header {
  background: #d5ebe4;
  color: #050517;
  font-size: 2rem;
  font-weight: 700;
  padding: 5rem 0;
  padding-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.skills {
  background: #d5ebe4;
  color: #050517;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 3rem;
  text-align: center;
}

.skills__name {
  background: #e6f3ef;
  -webkit-box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.1);
          box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem 1rem 0 1rem;
  max-width: 200px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.skills__name img {
  width: 100%;
}

.skills__name ul {
  padding: 1rem 0;
}

.skills__name ul li {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  padding-bottom: 0.3rem;
}

.kwes-form {
  background: #050517;
}

.contact {
  width: 350px;
  margin: auto;
  padding: 5rem 0;
}

.contact__heading {
  color: #72bda3;
  font-size: 2rem;
  letter-spacing: 1.5px;
  padding: 2rem 0;
  padding-bottom: 4rem;
  width: 100%;
}

.contact__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__details label {
  color: #72bda3;
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.contact__details input {
  margin-bottom: 2.5rem;
  padding: 0.7rem;
  width: 350px;
}

.contact__details input::-webkit-input-placeholder {
  color: #777;
  font-size: 1rem;
}

.contact__details input:-ms-input-placeholder {
  color: #777;
  font-size: 1rem;
}

.contact__details input::-ms-input-placeholder {
  color: #777;
  font-size: 1rem;
}

.contact__details input::placeholder {
  color: #777;
  font-size: 1rem;
}

.contact__textarea {
  color: #72bda3;
}

.contact__textarea .subject {
  width: 350px;
  margin: 0.5rem 0 !important;
}

.contact__textarea .subject::-webkit-input-placeholder {
  font-size: 1rem;
  padding: 0.5rem;
}

.contact__textarea .subject:-ms-input-placeholder {
  font-size: 1rem;
  padding: 0.5rem;
}

.contact__textarea .subject::-ms-input-placeholder {
  font-size: 1rem;
  padding: 0.5rem;
}

.contact__textarea .subject::placeholder {
  font-size: 1rem;
  padding: 0.5rem;
}

.contact__textarea .submit-container {
  height: 100%;
}

.contact__textarea .submit-container .contact__submit {
  border: none;
  outline: none;
  background: #ffcf00;
  color: #050517;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.contact__textarea .submit-container .contact__submit:hover {
  background: #87c5ff;
  color: black;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.textarea-heading {
  margin-bottom: 1rem;
  line-height: 1rem;
}

textarea:focus {
  background-color: #d5ebe4 !important;
}

.footer {
  background: #050517;
  background: #d5ebe4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icons .footer__social {
  width: 5rem;
  font-size: 5rem;
  margin: 1rem;
}

.footer__copy {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

input.is-success-110293,
textarea.is-success-110293,
select.is-success-110293 {
  border: none !important;
  border-bottom: 1px solid white !important;
  border-left: 1px solid #050517 !important;
}

input {
  border: none !important;
  border-bottom: 1px solid #050517 !important;
  border-left: 1px solid #9898e9 !important;
}

.subject {
  background-color: white !important;
  border: none !important;
  border-bottom: 1px solid #000 !important;
  border-left: 1px solid white !important;
}

input:focus,
.subject:focus,
.submit {
  background-color: #fff;
  border: none !important;
  border-bottom: 1px solid #000 !important;
  border-left: 1px solid #000 !important;
  outline: 1px solid #bdb6b6;
}

.kw-message-110293.kw-message-info {
  text-align: center;
}

.submit-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
/*# sourceMappingURL=main.css.map */