$primary-color: #222;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.5;

@mixin easeOut {
	transition: all .5s ease-out;
}

@mixin background {
	@if $show-home-image {
		&#bg-img {
			background: $home-image; 
			background-attachment: fixed;
			background-size: cover;
		}
	}
}