@media only screen and (max-width: 800px) {


   .header {
      height: 100vh;
      position: fixed;

      // Drawer Menu
      .menu-mobile {
         display: block;

         .drawer {
            position: fixed;
            right: 2rem;
            top: 2rem;
         }
      }

      .menu {

         height: 100vh;
         background-color: #050517;


         &__nav {
            flex-direction: column;
            justify-content: center;
            display: flex;
            flex-direction: column;
            border-radius: 50%;
            height: 500px;
            justify-content: center;
            align-items: center;
            width: 500px;
            // background: linear-gradient(yellow, green);

            li {
               margin-bottom: 2rem;
               padding: 0;
               font-size: 1.2rem;
            }

            .menu__myname {
               position: static;

               &::after {
                  content: 'Portfolio';
                  display: block;
                  text-align: center;
                  font-size: 0.8rem;
               }
            }
         }
      }
   }

   // Hero 
   .hero {
      grid-template-columns: 4rem auto 4rem;
      text-align: center;
      margin: 0;

      .hero__contact-cta {
         margin: auto;
         margin-top: 4rem;
      }
   }

   .work {
      background: $light-font-color;
      padding: 5rem 0;
      padding-bottom: 10rem;
   }

   .work__projects {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr;
      padding: 0 1.5rem;
      justify-content: center;
   }
}

@media only screen and (max-width: 800px) {
   .skills {
      grid-template-columns: 1fr 1fr;
   }
}