@media (max-width: 840px) {

   @import '_menu';



   //***********************************************
   // Hero 
   .hero {
      grid-template-columns: 4rem auto 4rem;
      text-align: left;
      margin: 0;

      .hero__cta {
         margin-top: 4rem;
      }
   }

   // About

   .about {
      grid-template-columns: 5rem auto 1.5rem;

      &__heading {
         max-width: 395px;
         text-align: center;
      }

      &__bio {}
   }

   .work {
      padding: 5rem 0;
      padding-bottom: 3rem;
   }

   .work__projects {
      display: grid;
      grid-gap: 3rem;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 3.5rem;
      padding-top: 6rem;
      justify-content: center;
      margin: 0;
   }

   .work__projects .projects__item .projects__link {
      margin-bottom: 0;
   }

   .skills__container {
      .skills {
         padding: 1rem;
         margin: 0 15vw;
         grid-template-columns: repeat(2, minmax(100px, 200px));
         justify-self: center;
         grid-gap: 4rem;

         &__name {
            padding: 1rem;
         }
      }
   }

   .contact__details {
      width: 75%;
   }

   #container .about__bio .about__myself a {
      margin-top: 2rem;
      display: block;
   }
}