@media only screen and (max-width: 800px) {

   .hero {
      grid-template-columns: 4rem auto 4rem;
      text-align: center;
      margin: 0;

      .hero__contact-cta {
         margin: auto;
         margin-top: 4rem;
      }
   }

   .work {
      background: $light-font-color;
      padding: 5rem 0;
      padding-bottom: 10rem;
   }

   .work__projects {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr;
      padding: 0 1.5rem;
      justify-content: center;
   }
}

@media only screen and (max-width: 800px) {
   .skills {
      grid-template-columns: 1fr 1fr;
   }
}