// Widescreens
@include mediaXl {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Desktops and Laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Tablets and small Laptops
@include mediaMd {
    #about {
        align-items: center;
        text-align: center;

        .lg-heading {
            margin: auto;
            font-size: 5rem;
        }

        .sm-heading {
            margin: 1.8em auto;
            // margin-bottom: 2em;
            line-height: 1.3;
        }

        .about-info {
            display: block;
            grid-template-areas:
                'bioimage'
                'bio';
            grid-template-columns: 1fr;
            padding-top: 1rem;

            .bio-image {
                grid-area: bioimage;
                margin-bottom: 1.5rem;
            }

            .bio {
                grid-area: bio;
                margin: 0 auto;
                text-align: left;
            }
        }

        .icons {
            align-items: center;
            margin: 0;
        }

        .projects {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    header {

        ul.menu-nav,
        div.menu-branding {
            float: left;
            width: 100%;
            min-height: 0;

            &.show {
                transform: translate3d(0, 0, 0);
            }
        }

        .menu-nav {
            height: 75vh;
            transform: translate3d(-100%, 0, 0);
            font-size: 24px;

            .nav-link {
                font-size: 1em;
                padding: .5em 0;
            }
        }

        .menu-branding {
            height: 30vh;
            width: 100px;
            transform: translate3d(100%, 0, 0);

            .portrait {
                height: 250px;
                width: 210px;
                border-top-right-radius: 0;
            }
        }
    }
}

// Smartphones
@include mediaSm {

    #about {
        .about-info {
            
        .bio {
            grid-area: bio;
            margin: 0 1rem;
            font-size: 1rem;
            text-align: left
        }
        .boxes {
            padding: 2rem 0;
        }
        }
    }
    
}

// Smartphones min height view
@include mediaSmHorizontal {
    .menu-branding {
        display: none;
    }

    .menu-nav {
        height: 100vh;
    }

}