@media only screen and (max-width: 600px) {
   .hero {
      grid-template-columns: 2rem auto 2rem;
      text-align: center;
      margin: 0;

      .hero__contact-cta {
         margin: auto;
         margin-top: 4rem;
      }
   }

   .work__projects {
      display: grid;
      grid-gap: 5rem;
      grid-template-columns: 1fr;
      padding: 5rem 3rem;
      padding-top: 8rem;
      justify-content: center;
   }
}


@media only screen and (max-width: 440px) {

   .hero {
      grid-template-columns: 2rem auto 2rem;
   }

   .hero__headings {
      text-align: center;
   }

   .hero__intro {
      text-align: center;
   }

   .hero__contact-cta {
      margin-left: auto;
      margin-right: auto;
   }

   .about {
      grid-template-columns: 1rem auto 1rem;
   }

   .about__bio .about__para a {
      font-size: 0.8rem;
      letter-spacing: 1px;
   }

   .work__projects {
      display: grid;
      grid-gap: 3.5rem;
      grid-template-columns: 1fr;
      padding: 3rem 2rem;
      padding-bottom: 5rem;
      padding-top: 6rem;
      justify-content: center;
   }

   .skills {
      grid-template-columns: 1fr;
   }

   .contact__heading {
      padding-left: 1rem;
      padding-right: 1rem;
   }

   .contact__details input,
   .contact__details .subject {
      width: 250px;
   }

   .footer__icons .footer__social {
      padding-left: 1rem;
   }
}