@media (max-width: 600px) {
   #container {
      .hero {
         grid-template-columns: 2rem auto 2rem;
         text-align: center;
         margin: 0;

         .hero__cta {
            margin: auto;
         }
      }

      // About
      .about {
         grid-template-columns: 1.5rem auto 1.5rem;

         &__heading {}

         &__bio {
            text-align: center;

            .about__myself {
               .about__email {}
            }

            a {}
         }
      }

      // Work



      // Skills

      .skills {
         text-align: center;

         &__grid {}

      }

   }
}