// Gradients
$hero-gradient:linear-gradient(202.1deg, #93A4FA 14.57%, rgba(108, 39, 39, 0.7) 81.83%);
$pink-gradient: linear-gradient(180deg, #94A4FA 0%, #5E3A3A 100%);

// Header and paragraph Sizes
$font-heading-1: 54px;
$font-heading-2: 42px;
$font-heading-3: 33px;
$font-heading-4: 26px; // ~44px line-height / 1000px-width
$font-heading-5: 20px;
$font-heading-6: 16px;

$para: 19px;

// Background Colors
$dark-background: #050517;
$light-background: #d5ebe4;

// Font Colors
$dark-font-color: #050517;
$light-font-color: #72bda3;

$link-color: #be96fd;

$cta: #5eb0ff;
$cta-text: #050517;

// Transition
$transition-hover: all 0.2s;

// Buttons
$button: #0a556a;

@font-face {
   font-family: poppins-regular;
   src: url(../fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
   font-family: poppins-light;
   src: url(../fonts/poppins/Poppins-Light.ttf);
}

@font-face {
   font-family: barlow-black;
   src: url(../fonts/Barlow/Barlow-Black.ttf);
}

@font-face {
   font-family: barlow-xtraBold;
   src: url(../fonts/Barlow/Barlow-ExtraBold.ttf);
}

@font-face {
   font-family: barlow-Bold;
   src: url(../fonts/Barlow/Barlow-Bold.ttf);
}

@font-face {
   font-family: barlow-semiBold;
   src: url(../fonts/Barlow/Barlow-SemiBold.ttf);
}

@font-face {
   font-family: FiraSans-Regular;
   src: url(../fonts/Fira_Sans/FiraSans-Regular.ttf);
}

@font-face {
   font-family: FiraSans-Thin;
   src: url(../fonts/Fira_Sans/FiraSans-Thin.ttf);
}