@media (max-width: 400px) {

   #container {
      .hero {
         grid-template-columns: 1rem auto 1rem;
      }

      .hero__headings {
         text-align: center;
         line-height: 3rem;
      }

      .hero__description {
         margin-top: 1rem;
      }

      .hero__description .hero__myintro {
         font-weight: 100;
         line-height: 2.2rem;
      }

      // About
      .about {
         padding-bottom: 5rem;

         &__heading {}

         &__bio {
            .about__email {
               font-size: 0.8rem;
               letter-spacing: 1px;
            }
         }
      }

      // Work 


      #container .about__bio .about__myself a {
         margin-top: 2rem;
      }

      .skills {
         text-align: center;
         padding-bottom: 0;

         .skills__grid {
            row-gap: 1.5rem;

            img {
               width: 100px;
            }

            .skills__grid-item {
               p {
                  font-size: 1rem;
                  line-height: 1.8rem;
               }


            }
         }
      }



   }
}