@import '_variables';

.menu-btn {
   display: none;
}

// Global
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   word-break: keep-all;
}

body {
   background: $light-background;
   font-family: Helvetica;
}

ol {
   list-style-type: lower-alpha;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

img {
   display: block;
   height: auto;
   width: 100%;
   box-shadow: $box-shadow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: Josefin_Sans;
   text-transform: uppercase;
}

p {
   font-size: $para;
}

// ********************************************************
// Header
.header {
   background: $dark-font-color;
   padding: 1rem 5rem 1rem 3rem;
   width: 98vw;
   position: sticky;
   top: 0;

   .nav {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .logo {
         img {
            width: 50px;
            height: auto;
            display: block;
         }
      }

      .menu {
         display: flex;
         justify-content: space-around;
         align-items: center;

         li {
            letter-spacing: 1px;

            a {
               font-weight: 600;
               text-shadow: 1px 1px 1px #111;
               margin: 0 2rem;
               text-transform: uppercase;
               word-spacing: 2px;

            }
         }
      }
   }

   a {
      color: $light-background;
      transition: $transition-hover;
      position: relative;

      &:hover {
         color: #fff;
         text-decoration: none;
      }
   }

   a::after {
      content: '';
      background-color: currentColor;
      position: relative;
      bottom: 0;
      height: 1px;
      left: 0;
      position: absolute;
      transition: transform 200ms ease-in;
      transform: scaleX(0);
      transform-origin: right;
      width: 100%;
   }

   a:hover::after {
      transform: scaleX(1);
      transform-origin: left;
      width: 100%;
   }
}

// Hero
.hero {
   background-color: $light-background;
   background-size: cover;
   color: $dark-font-color;
   display: grid;
   grid-template-columns: 15vw auto 25vw;
   padding: 6rem 0;
   padding-top: 7rem;

   &__headings {
      grid-column: 2;

      h1.hero__occupation {
         display: flex;
         flex-direction: column;
         font-size: $font-heading-1;
         word-spacing: 10px;
         line-height: 0.7;
         text-decoration: underline;

         .flip {
            display: inline-block;
            transform: scale(1, -1);
            margin: 9px;
         }
      }

      h2.hero__myname {
         font-weight: 500;
         line-height: 2;
         word-spacing: 1rem;
      }
   }

   &__description {
      grid-column: 2;
      grid-row: 2;

      .hero__myintro {
         font-size: $font-heading-4;
         font-weight: 400;
         line-height: 44px;
         padding: 2rem 0;
         text-transform: capitalize;
      }

      .hero__cta {
         @include button;

         &:hover {}

         &:active {
            background-color: $button-color;
            color: #d5ebe4;
         }
      }
   }
}

// About
.about {
   background: $dark-background;
   display: grid;
   grid-template-columns: 14vw auto 15vw;
   padding: 7rem 0;
   text-align: right;

   h2.about__heading {
      color: $light-font-color;
      color: #d5ebe4;
      font-size: $font-heading-2;
      grid-column: 2;
      width: 17ch;
      line-height: 3.6rem;
      justify-self: end;
   }

   &__bio {
      grid-column: 2;
      padding: 3rem 0;
      padding-bottom: 0;

      .about__email {
         color: #f49e4c;
         display: block;
         font-size: 1.15rem;
         font-weight: 700;
         transition: $transition-hover;

         &:hover {
            color: #fff;
         }

         &:active {
            color: #d5ebe4;
         }
      }

      .about__myself {
         color: $light-font-color;
         color: #d5ebe4;
         font-size: $para;
         letter-spacing: 1px;
         line-height: 2rem;
         padding-bottom: 1rem;
         font-weight: 100;
      }
   }
}

// Projects
.work {
   background: $light-font-color;
   background-color: #d5ebe4;
   padding: 10rem 0;
   height: 100%;

   h2.work__heading {
      color: $dark-font-color;
      font-size: $font-heading-2;
      letter-spacing: 1px;
      text-align: center;
      text-decoration: underline;
      padding-bottom: 5rem;
   }

   &__projects {
      .work__description {
         .work__sections {
            width: 90vw;
            margin: auto;
            border-radius: 5px;
            box-shadow: $box-shadow;


            .work__site {
               display: flex;
               flex-wrap: wrap;
               gap: 2rem;
               align-items: flex-end;
               justify-content: center;
               margin: 1rem 0;
               padding: 3.5rem 0.8rem;
               background-color: aliceblue;
               border-radius: inherit;

               .projects__item {
                  a {
                     border-bottom: 1px solid $light-font-color;
                     color: #d5ebe4;
                     font-weight: bold;
                     font-size: 1.1rem;
                     text-transform: uppercase;
                     width: 100%;
                  }

                  .projects__link {
                     img {
                        display: block;
                        height: auto;
                        max-width: 300px;
                        min-width: 150px;
                        border-radius: 5px;
                     }
                  }
               }
            }

            .work__card {
               display: block;
               width: 50ch;

               h2 {
                  line-height: 28px;
                  margin-bottom: 1rem;
               }

               p {
                  line-height: 26px;
                  padding-bottom: 17px;
               }
            }

            .button {
               @include button;
            }
         }
      }
   }
}

.work::before {
   content: '';
   position: absolute;
   background-size: cover;
   background-position: left bottom;
   background-repeat: no-repeat;
   background-image: url(../img/Polygon1.svg);
}

// Skills

.skills {
   height: 100%;
   padding: 5rem 11vw;
   background-image: url(../img/skills-bg.svg);
   background-color: #050517;

   h2.skills__header {
      font-size: $font-heading-2;
   }

   &__grid {
      display: grid;
      grid-template-columns: repeat(2, 200px);
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
         "  . lang lang-img "
         "  tech-img tech-text ."
         " . cms-text cms-img ";
      justify-content: center;
      align-items: center;
      column-gap: 1rem;
      row-gap: 0rem;
      font-family: Helvetica;

      .skills__grid-item {
         width: 100%;
         max-width: 200px;
      }

      img {
         width: 80%;
         max-width: 300px;
      }

      p {
         font-size: 26px;
         color: $light-background;
      }

      .text {
         line-height: 4rem;
         letter-spacing: 5px;
      }

      .languages {
         grid-area: lang;
      }

      .technologies {
         grid-area: tech-text;
      }

      .cms {
         grid-area: cms-text;
      }

      .lang-img {
         grid-area: lang-img;
      }

      .tech-img {
         grid-area: tech-img;
      }

      .cms-img {
         grid-area: cms-img;
      }
   }
}

// Contact
h2.contact__heading {
   border-bottom: 1px solid $light-font-color;
   border-top: 1px solid $light-font-color;
   font-size: $font-heading-2;
   margin: 5rem 0;
   text-align: center;
   word-spacing: 5px;
   width: 100%;
}

.contact {
   &__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      max-width: 400px;
      margin: auto;
      background: #fefefe;
      padding: 2rem;
      border-radius: 5px;

      label {
         font-size: 0.7rem;
         padding-bottom: 0.3rem;
         letter-spacing: 1px;
         display: block;
      }

      input {
         margin-bottom: 1.5rem;
         display: block;
         padding: 0.3rem;
         width: 350px;

         &::placeholder {}
      }

      .subject {
         width: 350px;
         max-width: 350px;
         min-width: 350px;
         margin: 0.5rem 0 !important;

         &::placeholder {
            font-size: 1rem;
            padding: 0.5rem;
         }
      }
   }

   &__textarea {

      .submit-container {
         height: 100%;

         .contact__submit {
            @include button;
            display: block;
            margin: auto;

            &:hover {
               background-color: darken($button-color, 5%);
               color: #fff;
            }

            &:active {
               background-color: $button-color;
               color: #d5ebe4;
            }
         }
      }
   }
}

.textarea-heading {
   display: block;
   line-height: 1rem;
   font-size: 0.8rem;
}

textarea:focus {}

//Footer 
.footer {
   background: $dark-background;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5rem 3rem;


   &__copy {
      line-height: 1.5rem;
      filter: invert(1);
   }

   &__icons {
      display: flex;

      .footer__social {
         display: block;
         margin: 0 0.5rem;
         filter: invert(1);
      }
   }
}

@import '_contact-form';
@import '_md';
@import '_sm';
@import '_xs';